.header{
    height: 200px;
    background-image: url('../my-first-repo/images/background image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Page-title{
    color:red;
}
.First block{
 background-color: #7fffd4;
 box-shadow: 50px 50px gold;
 margin:100px
}
#para{
 color: green;
 font-family: sans-serif;
 font-size: 20px;
 text-align: center;
}
span{
    border: 1px solid #8a2b79;
    height: 200px;
    width: 100px;
    margin-left: 50px;
    
}